<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

    <style>
        div, input{
            font:15px Calibri;
            margin:10px;
        }
        input {
            padding:5px 7px;
        }
        table, th, td {
            border:solid 1px #CCC;
            padding:1px 3px;
            font:15px Calibri;
        }
        th {
            font-weight:bold;
        }
    </style>
</head>
<body>
	<div ng-app="myApp" ng-controller="myController">

    <!--DYNAMICALLY POPULATE SELECT ELEMENT USING JSON HEADERS-->
    Search By 
    <select ng-model="columns" ng-options="e for e in headers">
        <option value=""></option>
    </select>

    <!--BIND THE SEARCH BOX TO THE SELECT ELEMENT-->
    Search <input type="text" ng-model="search[columns]" 
        placeholder="Enter some text to search" />

    <table>
        <tr>
            <th>Name</th>
                <th>Surname</th>
                    <th>Age</th>
        </tr>
        <tr ng-repeat="emps in students | filter : search">

            <td>{{emps.name}}</td>
                <td>{{emps.surname}}</td>    
                    <td>{{emps.age}}</td>
        </tr>
    </table>
	</div>
    <script>
    angular.module("myApp", [])
        .controller('myController', ['$scope', function ($scope) {

            $scope.students =
            [
                { 'name': 'Neagu', 'surname': 'Ion', 'age': 37 },
                { 'name': 'Ceban', 'surname': 'Florin', 'age': 16 },
                { 'name': 'Radu', 'surname': 'Alex', 'age': 24 },
                { 'name': 'Jumer', 'surname': 'Iana', 'age': 19 },
		{ 'name': 'Belibov', 'surname': 'Marius', 'age': 23 },
		{ 'name': 'Pavladze', 'surname': 'Vadim', 'age': 25 },                
		{ 'name': 'Nistor', 'surname': 'Maria', 'age': 14 }
            ]

            // GET JSON ARRAY HEADERS.
            $scope.headers = Object.keys($scope.students[0]);
        } ]);
</script>
</body>
</html>
